@use "../variables.scss";
.header{
    @include variables.flex-row;
    justify-content: space-between;
    padding:1rem;
    border-bottom: 1px solid variables.$light-gray;
    margin-bottom: 1rem;
    .logo-container{
        @include variables.flex-row;
        @include variables.center
    }
}